/* common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* header section styles */
header {
    padding-top: 50px;
    background: rgba(255, 144, 14, 0.10);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-title {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    font-size: 18px;
    font-weight: 500;
}

/* banner styles */
.banner {
    width: 862px;
    margin: 100px auto 50px auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}

.banner-description {
    color: var(--Dark-03, #727272);
    margin: 32px 0 32px 0;
    text-align: center;
    line-height: 26px;
}

.explore {
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    margin: 0 auto 0 auto;
}

.explore-title {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

.banner-image {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 45px;
}

.banner-image img {
    width: 100%;
}

/* main styles */
main {
    background-color: #fff;
    width: 1000px;
    margin: auto;
}

.container {
    margin: 50px 0;
}

.feature-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.feature-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}

.feature-list-article-title {
    color: var(--Dark-03, #727272);
    font-size: 45px;
    font-weight: 500;
}

.of-our {
    color: var(--Dark-01, #131313);
}

.features {
    color: #FF900E;
}

.feature-list-article-description {
    color: var(--Dark-03, #727272);
    line-height: 26px;
    margin: 24px 0 24px 0;
}

.feature-list-article .explore {
    margin-left: 0;
}

/* feature love styles */
.feature-love-container {
    display: flex;
    gap: 30px;
}

.feature-love-heading {
    display: flex;
    gap: 21px;
}

.feature-love-heading-symble {
    background: #FF900E;
    width: 5px;
    height: 106px;
    flex-shrink: 0;
}

.feature-love-heading-title {
    font-size: 45px;
    font-weight: 700;
}

.feature-love-description {
    color: var(--Dark-03, #727272);
    line-height: 26px;
    margin: 25px 0 25px 0;
    width: 510px;
}

.feature-article {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin: 20px 0;
    width: 450px;
}

.feature-article-title {
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-weight: 600;
}

.feature-article-description {
    color: var(--Dark-03, #727272);
    line-height: 26px;
    margin: 10px 0 25px 0;

}

.feature-love-image img {
    height: 100%;
    width: 100%;
}

.ten-year {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 210px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: 100px;
    top: -100px;
}

.ten-year-title {
    padding-top: 30px;
}

/* some facts styles */
.some-facts-title {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.some-facts-description {
    color: var(--Dark-03, #727272);
    line-height: 26px;
    margin: 24px 0 24px 0;
    width: 542px;
}

.facts-container {
    display: flex;
    gap: 90px;
}

.fact:hover {
    background-color: aquamarine;
}

.fact {
    width: 180px;
    height: 160px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    background-color: #FFF;
    text-align: center;
}

.fact .icon {
    margin-top: 20px;
}

.fact-title {
    color: var(--Dark-02, #424242);
    font-size: 45px;
    font-weight: 600;
}

.fact-description {
    color: var(--Dark-03, #727272);
    font-size: 20px;
    font-weight: 600;
}

/* Sponspors styles */
.our-sponspors {
    margin-top: 120px;
}

.sponspors {
    margin: 0 auto;
}

.sponspores-title {
    text-align: center;
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.sponspores-description {
    text-align: center;
    color: var(--Dark-03, #727272);
    line-height: 26px;
    margin: 24px 0;
}

.clients {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-top: 50px;
    mix-blend-mode: luminosity;
}

.copyright-descriprion {
    border-radius: 8px;
    background: #FFF4E7;
    text-align: center;
    color: var(--Dark-02, #424242);
    font-size: 20px;
    height: 35px;
    padding: 30px 0;
    margin-top: 120px;
}